@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    flex-direction: column;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 56px;
    font-family: Roboto;
    color: #75B79E;
    margin: 40px 50px 0 50px; 
}

.cartas {
    flex-wrap: wrap;
}

.carta {
    background-color: #A7E9AF;
    height: 146px;
    width: 117px;
    border-radius: 5px;
    margin: 40px 20px 0 20px;   
}

.carta .verso {
    width: 100px;
    height: 100px;
}

.carta .frente{
    width: 70px;
    height: 70px;
}

.esconder {
    display: none
}

.selecionada {
    
}